.container {
    background: black;
    color: white;    
    font-family: 'Arial', cursive;        
    font-size: large;
}
 
.TrainDestination {
    color: rgb(255, 174, 0)
}
 
.header, .footer {
    background: hsla(197, 100%, 62%, 0.829)
}